body {
  background-color: #8818d3;
}

.header {
  padding: 40px 0px;
  text-align: center;
}
.detils-area {
  background-color: #59178580;
  padding: 50px 0px;
  border: 8px solid #ededed70;
  border-radius: 50px;
}
#male{
  display: none;
}
#female{
  display: none;
}
#sppiner{
  display: none;
}